/*Mahika Bagri*/
/*January 23 2026*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Name {
  font-size: 105px;
  font-family: var(--font-title), cursive;
  margin: 0;
  color: #000000;
  text-shadow: 0 0 10px #ffed4d;
}

.Tagline {
  margin-top: 0;             
  font-size: 30px;
  font-family: var(--font-tagline), cursive;
  font-weight: 600;
  color: #000000;
  background-color: gold;
  text-decoration: none;             
  border-radius: 8px;
  line-height: 15px;
  width: fit-content;
}
.sparkle {
  position: fixed;
  width: 7px;
  height: 7px;
  background: #ffed4d;
  border-radius: 50%;
  animation: sparkleFade 500ms forwards;
}

.Title {
  font-size: 85px;
  font-family: var(--font-title), cursive;
  margin: 30px;
  color: #000000;
  text-shadow: 0 0 10px #ffed4d;
}

@keyframes sparkleFade {
  from {
    transform: scale(1.5);
    opacity: 0.6;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.arenas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,345px);
  gap: 3rem;
  justify-content: center;
}

.arenas-card {
  max-width: 345px;
  background: #c694f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
}

.arenas-card:hover {
  transform: translateY(-5px);
  box-shadow: 8px 8px 8px #ffeab5;
}

.card-header {
  height: 230px;
  background-color:#ffeab5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.card-header img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-body {
  font-family: "Courier New";
  padding: 1.5rem;
  flex: 1;
  display: flex;
  max-height: 150px;
  flex-direction: column;
}

.card-body h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: var(--text-color);
  color: black;

}

.card-body p {
  color:#394248;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.arenas-grid a {
  text-decoration: none;
  color: inherit;
}

.input {
  position: relative;
  right: 25%;
  width: 150%;
  height: 50px;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.input:focus {
  border-color: gold;
  outline: none;
}

.button{
  position: relative;
  left: 7.5%;
  width: 80%;
  height: 55px;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid gold;
  background-color:#c694f9;
  margin-top: 35px;
  margin-bottom: 150px;
}

.button-row {
  display: flex;
  gap: 10px;
}

.homeButton{
  background: transparent;
  border: none;
  transform: scale(0.4);
  position: absolute;
  top: -40px; 
  left: -100px; 
}

.questsButton{
  background: transparent;
  border: none;
  transform: scale(0.7);
  position: absolute;
  top: -40px; 
  right: -55px; 
}

.goalButton{
  background: transparent;
  border: none;
  width: auto; 
  transform: scale(0.4);       
}

.goal {
  font-size: 30px;
  font-family: var(--font-tagline), cursive;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none; 
  transform: translate(0%, -1500%);
}

.goalContainer {
  position: absolute;  
  top: 240px; 
  display: inline-block;
}

.cardButton{
    background-color:rgb(0, 0, 0);
    height: 25px;
    margin-top: -25px;
    border: none;
    color:rgb(222, 188, 230);
}

.flag{
  background: transparent;
  border: none;
}

.taskTitle{
  font-weight: 600;
  font-size: 85px;
  font-family: var(--font-tagline), cursive;
  margin: 30px;
  color: #000000;
  text-shadow: 0 0 10px #ffffff;
}

.timerButton{
  background: transparent;
  border: none;
  transform: scale(0.13);
  position: absolute;
  top: -410px; 
  right: -650px;
}

.lotusBud{
  background: transparent;
  border: none;
  position: absolute;
  transform: scale(0.4);
  top: 558px; 
  left: 70px;
  z-index: 2;
}

.timeBar{
  background: transparent;
  border: none;
  position: absolute;
  transform: scale(0.9);
  top: 680px; 
  right: 140px;
}